node_modules
package-lock.json
**/.DS_Store
database/fuckit.db
config/server.json
config/app.json
public/assets/js/main.js
public/assets/js/main.js.map
public/assets/images/*
!public/assets/images/.gitkeep